netlifykey.txt
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
out/
.next/
.vercel/
.cache/
coverage/

# System files
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/

# Logs
*.log

# Misc
*.swp
*.swo
~$*

# PWA/Service Worker
sw.js
generate-pwa*