/* Estilo Similar a un Periodico */
body {
    background-color: #FDEEDC;
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
button{
    border-radius: 10px;
    width: 250px;
    height: 45px;
    transition: 1s all ;
    cursor: pointer;
}

button:hover{
    transform: scale(1.05) rotate(1deg) ;    
}

header{
    height: 50px;
}

textarea{
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}
#textarea{
    background-color: rgb(248, 248, 248);
    width: 520px;
    height: 270px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline:none;
    resize: none;
}


#texto {
    width: 520px;
    height: 270px;
    padding: 20px;
    border-radius: 5px;
    outline:none;
    border: none;
    background-color: #FDEEDC;
    resize: none;
    cursor: pointer;
    color: #E38B29;
    font-size: 20px;
    font-weight: 600;
}

::placeholder{
    color: #E38B29;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
    
}


.container {
    width: 100%;
}

.logo { 
    padding: 20px;
}

.resultado {
    position: relative;
}
.botonEncriptar {
    border: none;
    background-color: #E38B29;
    color: rgb(228, 234, 253);
}

.botonDesencriptar{
    color: #E38B29;
    margin-left: 10px;
    border: #E38B29 solid 1px;
}

#copyBlock{
    color: #E38B29;
    position: absolute;
    top: 370px;
    right: 20px;
    border: #E38B29 solid 1px;
}

.imgSinResultado{
    width: 40%;
    position: absolute;
    top: 45px;
    right: 80px;
}