@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Open+Sans:wght@300;400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-color: #ECF9FF;
}

header{
    width: 100%;
    height: 70px;
    background-color:#ECF9FF;
    color: #222831;
    /* position: fixed; */
}

.logojv{
    height: 100%;
    padding: 20px;
}

nav {
    position: absolute;
    top: 25px;
    right: 20px;
}

nav li{
    display: inline-block;
    margin: 0 20px;

    height: 20px;    
}

nav a{
    border-radius: 20px;
    text-decoration: none;
    color: #222831;
    padding: 10px 20px;
    transition: 0.5s all;
    font-weight: 600;
}
nav a:hover{
    background-color: #0e3147;
    color: #d6e1e7;
}

.tituloPrincipal{
    color: #222831;
    margin: 20px 0;
}
/* Home */

.home{
    width: 100%;
    height: 500px;
    background-image: url('img/mountains.jpg') ;
}

.tituloPresentacion{
    position: absolute;
    top: 200px;
    right: 5%;
    font-size: 50px;
    font-weight: 900;
    margin: 0 0 0 0;
    color: #061f35;
}

/* About Me */
.aboutMe{
    height: 400px;
    margin: 60px;
    padding: 40px;
    display: flex;
}

.contenidoAboutMe{
    margin: 50px 20px;
    padding: 20px;
    width: 50%;
}


/* Skills */
.skills{
    padding: 2rem;
    background: #dae6f2;
    text-align: center;
}

.contenidoSkills{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgSkill{
    height: 10rem;
    margin: 2rem;
}


/* Portfolio */
.portfolio{
    background-color: #01050d;
    padding: 40px;
}

.portfolio .tituloPrincipal{
    text-align: center;
    color: #d6e1e7;
}

.listaProyectos{
    text-align: center;
}

.listaProyectos li {
    color: #d6e1e7;
}

.listaProyectos p{
    color: #d6e1e7;
    font-weight: 500;
    margin: 20px 0;
}

.listaProyectos a{
    background-color: #373e41;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3f464d;
    transition: 0.3s all;
}

.listaProyectos a:hover {
    background-color: #484f52;
}

.imgProyecto{
    width: 100%;
}


.proyecto{
    margin: 20px;
    padding: 20px;
    display: inline-block;
    border: #30363d 1px solid;
    background-color: #0d1117;
    width: 250px;
    transition: 0.5s all;
}

.proyecto:hover{
    border-color: #3c4248;
    background-color: #141920;
}
.proyecto a{
    text-decoration: none;
    color: #d6e1e7;
}


/* Contact */

.contact{
    padding: 30px;
}

.contact .tituloPrincipal{
    text-align: center;
}

form{  
    margin: 0 30%;
}

form label {
    display: block;
    margin: 10px 0;
}

.inputContacto{
    display: block;
    padding: 10px ;
    width: 100%;
    resize: none;
}

.enviar{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 10px;
    width: 60%;
    border-radius: 20px;
    border: none;
    color: #d6e1e7;
    background-color: #061f35;
    transition: 0.3s all;
}

.enviar:hover{
    background-color: #0e3147;
}

.enviar:active{
    background-color: #21618c;
    color: #d6e1e7;
}

.linkFigma{
    text-decoration: none;
    color: #222831;
    margin: 0 0 0 20px;
}

/* Footer */

footer{
    width: 100%;
    background-color: #061f35;
    text-align: center;
}


.icon{
    filter: invert(1);
    padding: 15px;
    height: 70px;
}

@media screen and (min-width: 0px) {
    
}

@media screen and (min-width: 780px) {
    
}