@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Open+Sans:wght@300;400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-color: #ECF9FF;
}

header{
    width: 100%;
    height: 70px;
    background-color:#ECF9FF;
    color: #222831;
}

nav {
    position: absolute;
    top: 25px;
    right: 20px;
}

nav li{
    display: inline-block;
    margin: 0 0 0 10px;
    width: 125px;
    height: 20px;
}

nav a{
    border-radius: 10px;
    text-decoration: none;
    color: #222831;
    padding: 10px 20px;
    transition: 0.5s all;
    font-weight: 600;
}
nav a:hover{
    background-color: #222831;
    color: #ECF9FF;
}

.tituloPrincipal{
    margin: 20px;
    color: #222831;
}
/* Home */

.home{
    width: 100%;
    height: 500px;
    background-image: url('img/mountains.jpg');
}

.tituloPresentacion{
    position: absolute;
    top: 250px;
    right: 10%;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 0 0;
}

/* About Me */
.aboutMe{
    height: 100px;
}

/* Portfolio */
.listaProyectos{
    text-align: center;
}

.listaProyectos p{
    color: #222831;
}

.proyecto{
    margin: 20px;
    padding: 10px;
    width: 250px;
    height: 200px;
    display: inline-block;
    border: #222831 1px solid;
    border-radius: 5px;
}

.proyecto:hover{
    border-color: #3282B8;
    color: #3282B8;
}
.proyecto a{
    text-decoration: none;
    color: #222831;
}

/* Contact */

.contact{
    height: 100px;
}

.linkFigma{
    text-decoration: none;
    color: #222831;
    margin: 0 0 0 20px;
}